<div class="card d-flex flex-row align-items-center justify-content-center gap-3 px-3"
    style="width: 25rem; height: 7rem; overflow-x: scroll;">
    <% (0..5).each do %>
    <%= render "stories/story"%>
    <% end %>
</div>