<div class="d-flex flex-column justify-content-center align-items-center">
    <%= image_tag ('fb-logo.webp') , class: "img-thumbnail rounded-circle border-2 border-primary", style: "width: 3.5rem;"%>
    <small style="max-width: 3.5rem; overflow:hidden; white-space: nowrap; text-overflow: ellipsis">username</small>
</div>